<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    
    <div class="page-wapper">
      <app-breadcrumbs></app-breadcrumbs>
      <div class="container-fluid ml-3">
       
          <!--Sistema de rutas-->
          <router-outlet></router-outlet>
          <!--Sistema de rutas-->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
       <!--<div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <div class="card">
            <div class="card-body">
             
              
            </div>
          </div>
        </div>
      </div>
      </div>-->
    </div>
  </div>
