<div class="page-wapper">
  <div class="container-fluid">
 

    
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
  </div>
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer">
    © 2017 Admin Pro by wrappixel.com
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
